.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  width: 1170px;
  margin: auto;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  height: 10vh;

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.nav-area {
  float: right;
  list-style: none;
  margin-top: 15px;
}
.nav-area li {
  display: inline-block;
}
.nav-area li a {
  color: #fff;
  text-decoration: none;
  padding: 9px 20px;
  font-family: poppins;
  font-size: 14px;
  font-weight: 550;
  text-transform: uppercase;
  margin-right: 40px;
}
.nav-area li a:hover {
  background: #ffc500;
  color: #333;
  font-weight: 550;
}

.nav-area li a:focus {
    border-bottom:4px solid #ffc500;
    color: #ffffff;
    font-weight: 550;
}

.logo {
  float: left;
}
.logo img {
  width: 5%;
  padding: 15px 0;
}
.welcome-text {
  position: relative;
  width: 600px;
  height: 300px;
  margin: 20% 30%;
  text-align: center;
}
.welcome-text h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 60px;
}
.welcome-text h1 span {
  color: #ffc500;
}
.welcome-text a {
  border: 2px solid rgb(0, 0, 0);
  background-color: black;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  color: rgb(255, 255, 255);
}
.welcome-text a:hover {
  background: #fff;
  color: #333;
  border:3px solid #333;
}
/*resposive*/

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .logo {
    float: none;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  img {
    width: 100%;
  }
  .nav-area {
    float: none;
    margin-top: 0;
  }
  .nav-area li a {
    padding: 5px;
    font-size: 11px;
  }
  .nav-area {
    text-align: center;
  }
  .welcome-text {
    width: 100%;
    height: auto;
    margin: 30% 0;
  }
  .welcome-text h1 {
    font-size: 30px;
  }
}
