* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inner {
  height: 75%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 10px 10px 68px -6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 50%;
  height: 100%;
  padding: 0 10px;
}
.photo img {
  width: 100%;
  height: 100%;
}
.user-form {
  background: rgba(212, 212, 212, 0.8);
  padding: 50px;
  width: 50%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}
.user-form h2 {
  color: rgb(0, 0, 0);
  padding: 30px 0;
  font-weight: 700;
  text-align: center;
}
.user-form i {
  position: absolute;
  margin: 25px 10px;
}
input {
  width: 100%;
  border-radius: 30px;
  border: none;
  height: 3em;
  font-size: 15px;
  margin: 10px 0;
  padding: 0 30px;
}
.safety {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 5px;
}
.line {
  height: 6px;
  border-radius: 20px;
  width: 20%;
  background: #fff;
  margin: 5px;
}
.action-btn {
  width: 100%;
  display: flex;
  margin: 30px 0;
}
.btnCreate {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  background: transparent;
  border-radius: 20px;
  width: 50%;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}
.primary {
  border: 2px solid black;
  text-align: center;
  font-weight: 550;
color: black;
  background:
    #ffc500
}

.primary:hover {
  border: none;
  text-align: center;
color:#fff;
  background:
    black;
}

@media (max-width: 665px) {
  .photo {
    display: none;
  }
  .user-form {
    width: 100%;
    border-radius: 10px;
  }
}
@media screen and (max-width: 990px) and (min-width: 665px) {
  .action-btn {
    margin: 5px;
    display: block;
    width: 100%;
  }
  .btnCreate {
    width: 100%;
    margin: 5px;
    padding: 5px;
  }
}


table {
  border-collapse: collapse;
  border-spacing: 1em .5em;
  width: 70%;
  border: 1px solid #ddd;
  margin-left: 250px;
  margin-top: 60px;
  background-color:  rgba(255, 255, 255, 0.8);
}

th, td {
  text-align: left;
  padding: 35px 25px;
}

tr:nth-child(even){background-color: #f2f2f2}

.viewbutton{
  float: right;
  margin-top: 8px;
  margin-right: 30px;
  background-color: #ffc500;
  padding: 10px 25px;
  border-radius: 15px;
  border:2px solid #ffc500;
  cursor: pointer;
}

.btn{
  background-color: #3b3b3b;
  padding: 10px 25px;
  border-radius: 15px;
  color: #fff;
  border:2px solid #000000;
  cursor: pointer;
  margin-left: 55px;
}

  #pagination1{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: #ffc500;
    margin-left:45%;
    margin-top: 30px;
    /* margin-top: 0px; */
    position: sticky;
    cursor:default;
  }

  #pagination2{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: #ffc500;
    position: sticky;
    margin-left:55%;
margin-top: -33px;
cursor:default;
  }

.addbtn{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: #ffc500;
    position: sticky;
    margin-left:75%;
margin-top: -33px;
cursor:pointer;
border: none;
  }

  .addbtn a{
    text-decoration: none;
    color: #000000;
  }

  .model{
    background-color:rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 0;
    margin-left: 25%;

  }





